version: "3.9"

services:
  app:
    build:
      context: .
      target: production
    container_name: bank_backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    networks:
      - bank_network

  mongo:
    image: mongo:7
    container_name: bank_mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - bank_network

volumes:
  mongo_data:

networks:
  bank_network:
    driver: bridge
